<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Welcome to the login page</h1>
    <form action="/user/login" method="post">
        <label>Put your emailId :</label>
        <input type="email" required name="email" placeholder="email">
        <label>Enter Your Password :</label>
        <input type="password" required name="password" placeholder="xyzW@!45XXssa897">
        <button type="submit">Login</button>

    </form>
</body>
</html>